body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5f2;
}

h1,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }
}